<h1>About</h1>
<h3>Stop, Drop, and LOL: A Heartfelt Hint</h3>
Arousal, and aroused male Martian bedside manner, is a little alien, and a little unpredictable, no?
<%= image_tag("lotsoflove.jpg", class: "img-responsive", alt: "Couple cuddling") %>
<p>But men don't have a natural off button we can press to shut their libidos down, so we've been wholly reliant on their ears, hoping that we can compose the right sentence when we need it, and hoping that they hear our version of "stop" and turn “off” immediately.... </p>
<%= image_tag("lotsoflove_fight.jpg", class: "img-responsive", alt: "Unhappy couple, scrunched up and turned away from each other, looking lonely and a bit angry") %>
<p>But men don't always hear what we say and turn off immediately, do they, or know what we mean. Especially when they're so aroused and erect... they sometimes need a hearing aid. And we don't want to push our man away...that's too violent. We're a bit irritated maybe, or our feelings or our body is sore, but we're not angry. A shove, and the word "stop", feel so harsh. So why don't we give them a clearer cue? A heartfelt hint?  Instead of trying to work it out in fuzzy speech, let's triple tap them if we want to hit their "off" button... if we want them to stop, drop the topic, and roll over to the other side of the bed, so we can share the covers and talk.</p>
<%= image_tag("lotsoflove2.jpg", class: "img-responsive", alt: "Happy couple rolled over into own parts of bed, each lying flat holding the cover tightly against themselves, happy with each other without sharing any physical contact, looking at each other with curiosity") %>
<p>If all the single ladies can agree to this tactic (a tactile, triple tap, as a quiet, gentle tap-out), we can study and strategize it together, until it's tactful and tacitly understood to mean not only "Stop, Drop, and Roll", but "Stop, Drop, and Lol"... stop drop and lots of love or laughs.</p>
<p>Come on, ladies! What do you say?</p>
<p>Let's give these men a heart-felt hint! Let's touch their hearts and <em>cut straight to the point</em> with a tap-out, if ever we want a break when we're in bed, and getting tired, exhausted, sore... or mad as knives. If looks could kill, right?</p>
<p>Try it, and practice it tonight, just like you'd practice "Stop, Drop, and Roll". Consent is key!</p>
<h4>Stop, drop, and lol.</h4>
<h5>A tap-based, gestural, universal haptic safeword and heartfelt hint for all couples and consenting adults, young and old. Arousal safety, supported by "lots of love and lots of laughter".</h5>