<h1>About</h1>
<h3>Stop, Drop, and LOL: A Heartfelt Hint</h3>
Arousal, and aroused male Martian bedside manner, is a little alien, and a little unpredictable, no?
<%= image_tag("lotsoflove.jpg", class: "img-responsive", alt: "Couple cuddling") %>
<p>But men don't have a natural off button we can press to shut their libidos down.</p>
<%= image_tag("feelings-on-off.gif", class: "img-responsive", alt: "An off switch for feelings, being switched on and off.") %> 
<p>We've been relying entirely on their <b>ears</b>, hoping that we can compose the right sentence when we need it, and hoping that they hear our version of "stop" and turn “off” immediately.... </p>
<p>But men don't always hear what we say and turn off immediately, do they, or know what we mean. Especially when they're so bloody aroused and erect... they sometimes need a hearing aid. We don't want to 'push and shove' to be heard...that's too forceful, even violent. We're a bit irritated maybe, or our feelings or our body is sore, but we're not angry. A shove, and the word "stop", might be too stressful to say when we need to say it most.</p>
<%= image_tag("lotsoflove_fight.jpg", class: "img-responsive", alt: "Unhappy couple, scrunched up and turned away from each other, looking lonely and a bit angry") %>
<p>So why don't we give our men a clearer cue? A heartfelt hint?  Instead of trying to work it out in fuzzy speech, let's turn their skin, from head to toes, into one giant, sensitive "off" button: Let's tap them twice or thrice, unambiguously, if we want to activate their skin's "off" button... if we want them to quickly and gently <b>stop</b>, <b>drop</b> the topic, and <b>roll over</b> to the other side of the bed, so we can <b>share the covers and talk</b>.</p>
<%= image_tag("lotsoflove2.jpg", class: "img-responsive", alt: "Happy couple rolled over into own parts of bed, each lying flat holding the cover tightly against themselves, happy with each other without sharing any physical contact, looking at each other with curiosity") %>
<p>Try your best to be heart-felt, literally and tap twice or thrice on their chest to reach their heart, if you can reach their chest. But if you can't reach their chest, tap twice or thrice wherever you can.</p>
<p>If a gentle skin tap doesn't work right away, say "Red light!", "Stop!", or give your man a push, or even a shove. Just... say anything you need to say more loudly, if they're not listening to your heartfelt hint, and <a href="/simple_pages/message_for_men.html">send them here</a> so they'll know how to act next time.</p>
<p>If all the single ladies can agree to this tactic (a tactile, triple tap, as a quiet, gentle tap-out), we can study and strategize it together, until it's tactful and tacitly understood to mean not only "Stop, Drop, and Roll", but "Stop, Drop, and Lol"... stop drop and lots of love or laughs.</p>
<p>Come on, ladies! What do you say?</p>
<p>Let's give these men a heart-felt hint! Let's touch their hearts and <em>cut straight to the point</em> with a tap-out, if ever we want a break when we're in bed, and getting tired, exhausted, sore... or mad as knives. If looks could kill, right?</p>
<p>Try it, and practice it tonight, just like you'd practice "Stop, Drop, and Roll". Consent is key!</p>
<h4>Stop, drop, and lol.</h4>
<h5>A tap-based, gestural, universal haptic safeword and heartfelt hint for all couples and consenting adults, young and old. Arousal safety, supported by "lots of love and lots of laughter".</h5>

<b>If you feel like you've been sexually assaulted, dial 911, and don't hesitate to call and communicate with your local police.</b>