<h1>About</h1>
<h3>Stop, Drop, and LOL: A Heartfelt Hint</h3>
<p>Men don't have a natural off button we can press to shut their libidos down, so we've been using their ears, hoping that we can compose the right sentence when we need it, and hoping that they hear our version of "stop" and turn “off” immediately.... </p>
<p>But men don't always hear what we say and turn off immediately, do they, or know what we mean. Especially when they're so aroused and erect... they sometimes need a hearing aid. So why don't we give them a clearer cue? Instead of trying to work it out in fuzzy speech, let's tap them twice if we want to hit their off button... if we want them to stop, drop the topic, and roll over to the other side of the bed.</p>
<p>If all the single ladies can agree to this tactic (tactile tap-out), we can study and strategize it together, until it's tactful and tacitly understood to mean not only "Stop, Drop, and Roll", but "Stop, Drop, and Lol"... stop drop and lots of love or laughs.</p>
<p>Come on, ladies! What do you say?</p>
<p>Let's give these men a heart-felt hint! Let's touch their hearts and <em>better</em> heads with a tap-out, if ever we want a break when we're in bed, and getting tired, exhausted, sore... or mad.</p>