
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>Convenient Off-site Storage</h3>
			<p>We're the most convenient provider of storage in the Holy Land!</p>
			<p>This is just a demo e-commerce site built with a focus on backend internal functionality. If you want to see some cool features, sign-up for a user account, then after logging in, visit the Products Page and leave a review!</p>
			<%= image_tag("storage/moving_day_800x555.jpg", width: '400', alt: "Moving Day Boxes") %>
			<hr>
			<h3>Low fees, Convenient Delivery</h3>
			<p>Our off-site storage ensures that we can offer our monthly storage service at a very low cost, and our convenient delivery options save you time when you need it most.</p>
			<%= image_tag("storage/self_storage_1920x1276.jpg", width: '400', alt: 'Storage Facility Panoramic') %>
			<hr>
			<h3>Let's talk!</h3>
			<p>Call us at +972 ZRO STORE to talk over your needs and get a price quote!</p>
		</div>
	</div>
</div>