<h1>Contact</h1>

<h3>We're here, and want to learn how to help!</h3>
<p>If you've got a theory, tactic, or route for helping high-strength consent take root, 'rite' us at <a href="mailto:info@stopdroplol.org">info@stopdroplol.org</a>.</p>
