<h1>Contact</h1>

<h3>We're here, and want to learn how to help!</h3>
<p>If you've got a theory, tactic, or route for helping high-strength consent take root, 'rite' us at <a href="mailto:info@stopdroplol.org">info@stopdroplol.org</a>.</p>

<div class="tenor-gif-embed" data-postid="3424009" data-share-method="host" data-width="100%" data-aspect-ratio="1.7605633802816902"><a href="https://tenor.com/view/come-in-bed-sexy-lust-hot-seductive-gif-3424009">Come In Bed GIF</a> from <a href="https://tenor.com/search/comeinbed-gifs">Comeinbed GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
