<div class="container">
	<div class="row">
		<div class="col-sm-12">
		    <h1 class="display-4">ZRO Storage</h1>
		  	<h2>Concierge Storage in the Holy Land</h2>
		  	<%= image_tag("publicstorage_doors.png") %>
		    <p class="lead">We'll store your possessions just a click away!</p> 					
		</div>
	</div>
</div>