<div class="jumbotron jumbotron-fluid">
	<div class="col-sm-12">
	    <h1 class="display-4">ZRO Storage</h1>
	  	<p class="lead">Concierge Storage in the Holy Land</p>
	  	<hr class="my-4">
	  	<%= image_tag("publicstorage_doors.png", class: "img-fluid") %>
	  	<br>
	  	<br>
	    <p class="lead">We'll store your possessions just a click away!</p> 					
	</div>
</div>

