<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ZRO Storage</h1>
  	<h2>Concierge Storage in the Holy Land</h2>
    <p class="lead">We'll store your possessions just a click away!</p> 
  </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-sm-12">
		</div>
	</div>
</div>
