<h1>Stop, Drop, and Lol!</h1> 
<h1>Roll!</h1>

<h3>A heartfelt hint!</h3>
<h4>Stop, drop the subject, flop (go flaccid, seriously), and roll over if you feel a tactful, tactile triple tap on your heart or thigh in bed.</h4>

<%= image_tag("lotsoflove.jpg", class: "img-responsive") %>
<%= image_tag("lotsoflove2.jpg", class: "img-responsive") %>

<h5>Consent is Crucial!</h5>
<p>Don't get mad... be happy, and share lots of love... a LOL, a laugh, when you feel the heartfelt hint.</p>