<div class="jumbotron jumbotron-fluid">
	<div class="col-sm-12">
	    <h1 class="display-4">ZRO Storage</h1>
	  	<h2>Concierge Storage in the Holy Land</h2>
	  	<hr class="my-4">
			<%= link_to image_tag("moving_day_1869.jpg", id: "moving-day", class: "img-fluid"), products_path %>
	  	<br>
	  	<br>
	    <p class="lead">We'll store your possessions just a click away!</p>					
	</div>
</div>