<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Stop, Drop and LOL!</h1>
  	<h2>A heart-felt hint</h2>
    <p class="lead">If you feel tender taps on your heart, your thigh, or your skin in bed . . . stop, drop, and rollover!
    </p> 
	<div id="cf-group" align="center">
		<div id="crossfade">
			<%= image_tag("lotsoflove2_text.jpg", class: "bottom img-responsive", alt: "Happy couple rolled over into own parts of bed, each lying flat, happy with each other, looking at each other with curiosity") %>
			<%= image_tag("lotsoflove_text.jpg", class: "top img-responsive", alt: "Couple cuddling") %>
			</br>
		</div>
		<button type="button" class="btn btn-warning btn-sdl-homepage">Stop, Drop and LOL</button>		

		<div class="button-group">
			<a href="/simple_pages/about.html"><button type="button" class="btn btn-primary">About For Women</button></a>
			<a href="/simple_pages/message_for_men.html"><button type="button" class="btn btn-success">Message For Men</button></a>		
		</div>
	</div>

  </div>
</div>



<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h5>Consent is Crucial! Tap tenderly thrice or twice for a super-fast "roll-over stop"!</h5>
			<p>Don't ask questions, not yet... just yield him or her their side of the bed at comical speed, cool down, be happy, and share lots of love and laughter... a LOL, a laugh, when you feel tender taps.</p>
			<p>See the <a href="/simple_pages/message_for_men.html">Message for Men</a> for a better illustration!</p>			
		</div>
	</div>
</div>
