<h1>Stop, Drop, and Lol!</h1> 
<h1>Roll!</h1>

<h3>A heartfelt hint!</h3>
<h4>Stop, drop the subject, flop (srsly, go flaccid), and roll over if you feel a tactful, tactile triple tap on your heart, thigh, or skin in bed.</h4>

<%= image_tag("lotsoflove.jpg", class: "img-responsive", alt: "Couple cuddling") %>
<%= image_tag("lotsoflove2.jpg", class: "img-responsive", alt: "Happy couple rolled over into own parts of bed, each lying flat, happy with each other, looking at each other with curiosity") %>

<h5>Consent is Crucial! Tap thrice or twice for a super-fast "roll-over stop"!</h5>
<p>Don't get mad... be happy, and share lots of love... a LOL, a laugh, when you feel the heartfelt hint.</p>