<h1>Message for Gentle Men</h1>
<h3>Would you work with us on this heartfelt hint, gentle men?</h3>
<p>We want the same things: High-strength consent. Better and better sex, more often. Arousal safety is critically important, but trust us, we don't want to be critical. We especially don't want to be or seem harsh.</p>
<p>We're hungry for better sex, with less and less unspoken irritation. So are you.</p>
<p>Sometimes, we're sore, tired, or just thirsty for a drink, and need a break. If we want to say 'stop', it's not always easy to say politely.</p>
<p>You'll feel safer too. Communication is a two-way street. If ever you need to rest, because you're feeling tired, sore, thirsty, or just plain exhausted, and you need a succubus break (just kidding, ladies), just triple tap us, and we'll know you want to tap-out for a rollover stop or rest break, and relax, no questions asked, so as to make it easier to think without erect or aroused distractions on our minds.</p>
<p>So let's coordinate, to make <em>dissent</em> easier and softer when consent turns even a little questionable. We'll feel safer, and the safer we feel, the more comfortable we'll be stripped down sleeping with you.</p>
