<div class="panel panel-default">
	<div class="panel-body">
		<div class="container">
			<div class="row">
				<h3>Thank you!</h3>	
			</div>
			<div class="row">
				<h6>We have received your message and will respond as soon as possible.</h6>
			</div>
		</div>
	</div><!-- / panel-body -->
</div><!-- / panel -->