<table>
	<tbody>
		<tr>
			<td><p>Thank you for joining our service! Here's your receipt:</p></td>
		</tr>
		<tr>
			<td><p><%= @product.name %></p></td>
		</tr>
		<tr>
			<td><p><%= @product.description %></p></td>
		</tr>
		<tr>
			<td><p><%= @product.price %></p></td>
		</tr>
	</tbody>
</table>