
<br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Order <%= @order.id %></h5>
    <p class="card-text">Product <%= @order.product_id %></p>
    <p class="card-text">User <%= @order.user_id %>
</p>
  </div>
</div>