
<p>
	<strong>Order No.: </strong><br>
	<%= @order.id %>
</p>
<p>
  <strong>Order User ID: </strong><br>
  <%= @order.user_id %>
</p>

<p>
  <strong>Order Product ID: </strong><br>
  <%= @order.product_id %>
</p>