// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: Arial, sans-serif;
	color: gray;
	text-align: center;
}

.lead {
	margin: auto;
	text-align: center;
}

.jumbotron img {
	display: block;
	margin: 0 auto;
}

.tenor-gif-embed {
	margin: 30px;
}