<% cache product do %>

<div class="col-sm-12">
	<% if product.image_url? %>
		<%= image_tag(product.image_url, class: "img-responsive") %>
	<% end %>
	<div align="left">
		<h2><%= link_to product.name, product %></h1>
		<p><%= product.description %></p>
		<strong><%= number_to_currency(product.price) %></strong>
	</div>
	<br>
	<hr>
</div>

<% end %>